@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* Common Styles */
.flex-center {
    align-items: center;
  }
  
  .text-teal-400 {
    color: #30cac5;
  }
  
  .text-xl {
    font-size: 1.25rem;
  }
  
  .font-bold {
    font-weight: 700;
  }
  
  .mt-2 {
    margin-top: 0.5rem;
  }
  
  /* Other Styles */
  html,
  body,
  label {
    font-family: 'Archivo', sans-serif;
  }
  
  .m-12 {
    margin: 3rem;
    position: relative;
  }
  
  .pb-4 {
    padding-bottom: 1rem;
  }
  
  .bg-white {
    background-color: #fff;
  }
  
  .mx-48 {
    margin-left: 12rem;
    margin-right: 12rem;
  }
  
  .rounded-3xl {
    border-radius: 1.5rem;
  }
  
  .flex {
    display: flex;
  }
  
  .items-center {
    align-items: center;
  }
  
  .justify-between {
    justify-content: space-between;
  }
  
  .mb-4 {
    margin-bottom: 1rem;
  }
  
  .ml-12 {
    margin-left: 3rem;
  }
  
  .mr-8 {
    margin-right: 2rem;
  }
  
  .w-7 {
    width: 1.75rem;
  }
  
  .h-7 {
    height: 1.75rem;
  }
  
  .h-8 {
    height: 2rem;
  }
  
  .mr-1 {
    margin-right: 0.25rem;
  }
  
  .mt-1 {
    margin-top: 0.25rem;
  }
  
  .h-6 {
    height: 1.5rem;
  }
  
  .text-gray-400 {
    color: #eaf3f5;
  }
  
  .mt-8 {
    margin-top: 2rem;
  }
  
  .px-12 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  
  .py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  
  .text-sm {
    font-size: 0.875rem;
  }
  
  .font-medium {
    font-weight: 500;
  }
  
  .bg-teal-400 {
    background-color: #30cac5;
  }
  
  .rounded-full {
    border-radius: 9999px;
    box-shadow: #000;
  }
  
  .text-white {
    color: #fff;
  }
  
  #sliderContainer {
    overflow: hidden;
    position: relative;
    width: calc(100% - 60mm);
  }
  
  .flex.items-center.stretch {
    flex: 0 0 25%;
    margin-left: 16px;
    transition: transform 0.3s;
  }
  
  .grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  
  .gap-16 {
    gap: 4rem;
  }
  
  .absolute {
    position: absolute;
  }
  
  .z-30 {
    z-index: 30;
  }
  
  .-translate-y-1\/2 {
    transform: translateY(-50%);
  }
  
  .text-black {
    color: #000;
  }
  
  .pointer-events-none {
    pointer-events: none;
  }
  
  .text-teal-500 {
    color: #30cac5;
  }
  
  .right-1 {
    right: 0.25rem;
  }
  
  .m-1 {
    margin: 0.25rem;
  }
  
  .fill-current {
    fill: currentColor;
  }
  
  .text-red-400 {
    color: #f48475;
  }
  
  .line-through {
    text-decoration: line-through;
  }
  
  .font-extrabold {
    font-weight: 800;
  }
  
  .text-lg {
    font-size: 1.125rem;
  }
  
  .flex-column {
    flex-direction: column;
  }
  
  .flex-between {
    justify-content: space-between;
  }
  
  .text-2xl {
    font-size: 1.5rem;
  }
  
  .w-8 {
    width: 2rem;
  }
  
  .h-8 {
    height: 2rem;
  }
  
  .mt-2 {
    margin-top: 0.5rem;
  }
  
  .w-6 {
    width: 1.5rem;
  }
  
  .h-6 {
    height: 1.5rem;
  }
  
  .mr-2 {
    margin-right: 0.5rem;
  }
  
  .w-48 {
    width: 12rem;
  }
  
  .h-48 {
    height: 12rem;
  }
  
  .sm {
    width: 14rem;
    height: 14rem;
  }
  
  .text-red-400 {
    color: #f56565;
  }
  .text-pink-400 {
    color: rgb(250,184,198);
  }
  #prev {
    left: 3rem;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
}

#next {
    right: 3rem;
    transform: translateY(-50%);
}
.circular-button {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25); /* Add shadow to the circular button */
}
.circular-button {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25); /* Add shadow to the circular button */
}
/* Tooltip styles */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Tooltip text */
.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 8px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: -30px;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}




  
